<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/exams1</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">tiger</property>

    <property name="show_sql">true</property>
    <mapping class="Entity.LoginDetails" />
    <mapping class="Entity.Student" />
    <mapping class="Entity.Staff" />
    <mapping class="Entity.Teacher" />
    <mapping class="Entity.Invigilator" />
    <mapping class="Entity.Exam" />
    <mapping class="Entity.Venue" />
    <mapping class="Entity.Question" />
    <mapping class="Entity.Option" />
    <mapping class="Entity.Result" />
    <mapping class="Entity.Feedback" />

  </session-factory>
</hibernate-configuration>



